<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h4 class="font-weight-bold text-capitalize text-left mb-3">Genre name</h4>
            <h5 class="font-weight-bold text-capitalize text-left">top rated</h5><hr />
            <section class="recent-book-sec mt-4 mb-3">
                <div class="row">
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="item mt-3 mb-3 ml-2 mr-2" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true"
                             data-content="<dl><dt>Title:</dt><dd>Some Title</dd><dt>Author:</dt><dd>Author Name</dd><dt>Tags:</dt><dd>Tag, Tag, Tag</dd></dl>">
                            <a asp-controller="Books" asp-action="Details">
                                <img src="/images/img2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <h6>Related Genres</h6><hr />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. Lorem Ipsum has been the book. </p>
        </div>
    </div>
</div>