@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="static about-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 float-left">
                <h2>Manage your account</h2>

                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-7">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
