@using Alexandria.Web.ViewModels.Books
@model BooksAllViewModel

@{
    ViewData["Title"] = "New Book Releases";
}

<section class="product-sec">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-8">
                <h2 class="text-md-left">New Released Books</h2>
                <hr />
                <ul class="list-unstyled">
                    @foreach (var book in Model.Books)
                    {
                        <partial name="_ListingBooksPartial" model="book" />
                    }
                </ul>
                <partial name="_PaginationPartial">
            </div>
        </div>
    </div>
</section>