<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link runat="server" rel="shortcut icon" href="/test/favicon.ico"/>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/style1.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/buttonsStyles.css" asp-append-version="true">
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/chat.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <header>
        @*class="header-top text-center"*@
        <div class="main-menu pt-0">
            <div class="bg-light border-bottom">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand"
                           asp-controller="Home"
                           asp-action="Index">
                            <img src="~/images/logo/logo_transparent.png" style="height:150px;" />
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="navbar-item active">
                                    <a class="nav-link"
                                       asp-controller="Home"
                                       asp-action="Index">
                                        Home
                                    </a>
                                </li>
                                <li class="navbar-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Books
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item"
                                           asp-controller="Books"
                                           asp-action="TopRated">
                                            Top Rated
                                        </a>
                                        <a class="dropdown-item"
                                           asp-controller="Books"
                                           asp-action="NewReleases">
                                            New Releases
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            Most Awarded
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li class="navbar-item active dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            More
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item"
                                               asp-controller="Chat"
                                               asp-action="SendMessage">
                                                Chats
                                            </a>
                                            @if (this.User.IsAdministrator())
                                            {
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"
                                                   asp-area="Administration"
                                                   asp-controller="Books"
                                                   asp-action="Index">
                                                    All Books
                                                </a>
                                                <a class="dropdown-item"
                                                   asp-area="Administration"
                                                   asp-controller="Genres"
                                                   asp-action="Index">
                                                    All Genres
                                                </a>
                                                <a class="dropdown-item"
                                                   asp-area="Administration"
                                                   asp-controller="Tags"
                                                   asp-action="Index">
                                                    All Tags
                                                </a>
                                            }
                                        </div>
                                    </li>
                                }
                                <li class="navbar-item active">
                                    <a class="nav-link"
                                       asp-controller="Home"
                                       asp-action="Index"
                                       asp-fragment="about">
                                        About
                                    </a>
                                </li>
                                <li class="navbar-item active">
                                    <a class="nav-link"
                                       asp-controller="Home"
                                       asp-action="Privacy">
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                            <div>
                                <partial name="_SearchLayoutPartial" />
                            </div>
                            <partial name="_LoginPartial" />
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li>
                                <a asp-controller="Home"
                                   asp-action="Index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home"
                                   asp-action="Index"
                                   asp-fragment="about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home"
                                   asp-action="Privacy">
                                    Privacy Policy
                                </a>
                            </li>
                            <li><a href="terms-conditions.html">Terms</a></li>
                            <li>
                                <a asp-controller="Books"
                                   asp-action="TopRated">
                                    Books
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Work with us</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Authors
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. BookStore Wordpress Theme</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="googl"><i class="fab fa-google-plus-g"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="/js/popper.min.js" asp-append-version="true"></script>
    <script src="/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="/js/custom.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$("[data-toggle=popover]").popover();</script>
    <script src="~/lib/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
