<form class="form-inline my-2 my-lg-0"
      asp-area=""
      asp-controller="Books"
      asp-action="Search"
      method="get">
    <input class="form-control mr-sm-5"
           type="text"
           name="Search"
           placeholder="Search books"
           required=""/>
    <button class="search_magnifier_btn" type="submit">
        <span class="fa fa-search"></span>
    </button>
</form>
