<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <img src="/images/img2.jpg" class="d-block w-100" alt="slide1">
        </div>
        <div class="col-md-6">
            <h6 class="font-weight-bold text-capitalize text-left">7 Day Self publish How to Write a Book</h6>
            <p class="text-left">by <a class="text-dark" href="#"><em>Daniel Kaheman</em></a></p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <form method="post">

            </form>
        </div>
    </div>
</div>
