@using Alexandria.Web.ViewModels.Users
@model UsersRatingViewModel

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h4 class="mb-3">
                <a class="text-dark"
                   asp-controller="Users"
                   asp-action="Details"
                   asp-route-id="@Model.Id">
                    @Model.Username's
                </a>
                all ratings
            </h4>
            @if (Model.AllRatings.Count() == 0)
            {
                <p class="text-center">@Model.Username has not rated anything.</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cover</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rating in Model.AllRatings)
                        {
                            <partial name="_RatingsPartial" model="rating" />
                        }
                    </tbody>
                </table>
                <div class="my-3">
                    <partial name="_PaginationPartialWithId" />
                </div>
            }
        </div>
    </div>
</div>