@using Alexandria.Web.ViewModels.Administration.Books
@model ABooksAddTagsInputModel

@{
    var tags = Model.AllTags.Select(t => new SelectListItem(t.Name, t.Id.ToString()));

    ViewData["Title"] = "Add Tags";
}

<div class="container">
    <div class="row">
        <div>
            <h4 class="col-md-12">Add Tags to</h4>
            <hr />

            <div class="my-3" style="width: 100px">
                <img src="@Model.PictureURL" class="d-block w-100" alt="BookCover" />
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    Title
                </dt>
                <dd class="col-sm-10">
                    @Model.Title
                </dd>
                <dt class="col-sm-2">
                    Author
                </dt>
                <dd class="col-sm-10">
                    @Model.Author.FullName
                </dd>
            </dl>

            <form method="post"
                  asp-area="Administration"
                  asp-controller="Books"
                  asp-action="AddTags">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="TagsIds" class="control-label col-md-12"></label>
                    <select asp-for="TagsIds" asp-items="@tags" class="multiple form-control" multiple="multiple"></select>
                    <span asp-validation-for="TagsIds" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Add" class="btn" />
                </div>
            </form>
            <form>
                <button class="btn black mb-3"
                        asp-area="Administration"
                        asp-controller="Books"
                        asp-action="Index">
                    Back to List
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.multiple').select2();
        });
    </script>
}